@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
:root {
    --text-one: rgb(200, 200, 200);
}

body {
    font-family: 'Source Code Pro', monospace;
    min-height: 100vh;
    min-width: 100vw;
    background: #111116;
    background: -webkit-linear-gradient(to left, #2a2b2c, #111116);
    background: radial-gradient(circle at center, #2a2b2c, #111116);
    overflow-x: hidden;
}

.text-primary {
    color: var(--text-one) !important;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.terminal-container {
    padding: 5vh 5vw;
}

.window-header {
    height: 2rem;
    background: rgb(200, 200, 200);
    line-height: 2rem;
    padding: 0 10px;
    border-bottom: none;
}

.window-header-buttons {
    line-height: 2rem;
    margin-right: -0.6rem;
}

.window-content {
    height: calc( 95vh - 3.5rem - 10px);
}

.window-body {
    background: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0;
}

.fa-stack-halfx {
    font-size: 0.5em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: inherit;
    opacity: 0;
    transition: 0.3s opacity linear;
}

#traffic-lights {
    position: fixed;
    left: 0.4rem;
}

#traffic-lights:hover .fa-stack-halfx {
    opacity: 1;
}
