@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@font-face {
    font-family: 'Open Sans';
    src: url('/css/fonts/OpenSans-Light.woff2') format('woff2'), url('/css/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/css/fonts/OpenSans.woff2') format('woff2'), url('/css/fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/css/fonts/OpenSans-Semibold.woff2') format('woff2'), url('/css/fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/css/fonts/OpenSans-Bold.woff2') format('woff2'), url('/css/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --text-one: rgb(200, 200, 200);
    --text-two: rgb(230, 230, 230);
    font-size: 16px;
    font-weight: normal;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Source Code Pro", monospace;
    min-height: 100vh;
    min-width: 100vw;
    background: #111116;
    background: -webkit-linear-gradient(to left, #2a2b2c, #111116);
    background: radial-gradient(circle at center, #2a2b2c, #111116);
    background-attachment: fixed;
    overflow-x: hidden;
}

#page {
    font-family: 'Open Sans';
}

.text-primary {
    color: var(--text-one) !important;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.center {
    display: block;
    margin: auto auto;
}

.terminal-container {
    padding: 5vh 5vw;
}

/* window css */

#windowModal {
    padding-right: 0 !important;
    font-size: 1rem;
}

#window-title {
    user-select: none;
}

.window-header {
    height: 2rem;
    background: rgb(200, 200, 200);
    line-height: 2rem;
    padding: 0 10px;
    border-bottom: none;
    cursor: move;
}

.window-header-buttons {
    line-height: 2rem;
    margin-left: -0.6rem;
    cursor: pointer;
}

.window-body {
    background: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0;
    max-height: calc(95vh - 3.5rem - 30px);
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.window-expanded {
    max-width: none;
    margin: 0;
}

.window-expanded .window-body {
    max-height: calc(100vh - 2rem);
}

.window-expanded .modal-content {
    height: 100vh;
}

.fa-stack-halfx {
    font-size: 0.5em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: inherit;
    opacity: 0;
    transition: 0.3s opacity linear;
}

#history {
    position: fixed;
    left: 0.6rem;
    height: 1.4rem;
    top: 0.3rem;
}

#history i {
    line-height: 1.4rem;
}

#history .btn {
    padding: 0;
    width: 40px;
    background-color: transparent;
    border: 1px solid rgb(150, 150, 150);
}

#history .btn:hover:not(:disabled) {
    background-color: rgb(150, 150, 150);
}

#history .btn:focus:not(:disabled) {
    box-shadow: none !important;
}

#history .btn:active:not(:disabled) {
    background-color: rgb(100, 100, 100);
}

#traffic-lights {
    position: fixed;
    right: 0.4rem;
}

#traffic-lights:hover .fa-stack-halfx {
    opacity: 1;
}

.red-light {
    color: rgb(252, 70, 69);
}

.fa-stack:hover .red-light {
    color: rgb(211, 24, 24);
}

.yellow-light {
    color: #f1c40f;
}

.fa-stack:hover .yellow-light {
    color: #e9b035;
}

.green-light {
    color: #1abc9c;
}

.fa-stack:hover .green-light {
    color: #0e9176;
}

/* common */

.stack-logo {
    width: 100px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 30px;
}

.tooltip {
    opacity: 1 !important;
}

.source-code {
    margin-top: 2rem;
    color: white !important;
    opacity: 0.8;
    text-decoration: none !important;
    display: flex;
    align-items: center;
}

.source-code:hover {
    opacity: 1;
}

.source-code i {
    font-size: 3rem;
}

.source-code span {
    font-size: 1rem;
    line-height: 3rem;
    margin-left: 0.5rem;
}

.description {
    padding: 5vh 8%;
    max-width: 80vw;
    color: var(--text-two);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
}

.description h3 {
    margin-top: 3vh;
}
