@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@font-face {
  font-family: "Open Sans";
  src: url("/css/fonts/OpenSans-Light.woff2") format("woff2"), url("/css/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/css/fonts/OpenSans.woff2") format("woff2"), url("/css/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/css/fonts/OpenSans-Semibold.woff2") format("woff2"), url("/css/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/css/fonts/OpenSans-Bold.woff2") format("woff2"), url("/css/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --text-one: rgb(200, 200, 200);
  --text-two: rgb(230, 230, 230);
  --text-three: rgba(50, 50, 50);
  font-size: 16px;
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Source Code Pro", monospace;
  min-height: 100vh;
  width: 100vw;
  background: #111116;
  background: -webkit-linear-gradient(to left, #2a2b2c, #111116);
  background: radial-gradient(circle at center, #2a2b2c, #111116);
  background-attachment: fixed;
  overflow-x: hidden;
}

#page {
  font-family: "Open Sans";
}

.text-primary {
  color: var(--text-one) !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.center {
  display: block;
  margin: auto auto;
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal-container {
  padding: 5vh 5vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* window css */

#window {
  font-size: 1rem;
  width: 80vw;
  margin: auto;
  height: calc(80vh + 2rem);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  overflow: hidden;
  display: none;
}

#window #window-title {
  user-select: none;
}

#window.mobile #window-title {
  display: inline-block;
  width: calc(100% - 10rem);
  line-height: 1.3rem;
  word-wrap: break-word;
}

.window-header {
  height: 2rem;
  background: rgb(200, 200, 200);
  line-height: 2rem;
  padding: 0 10px;
  border-bottom: none;
  display: flex;
  align-items: center;
}

#window.mobile .window-header {
  height: 3rem;
}

.window-header-buttons {
  line-height: 2rem;
  margin-left: -0.6rem;
  cursor: pointer;
  margin-top: -2px;
}

.window-body {
  background: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-width: 0;
  height: 80vh;
  padding: 0;
  overflow: hidden;
}

#window.mobile {
  width: 90vw;
  height: calc(90vh + 2rem);
}

#window.mobile .window-body {
  height: 90vh;
}

#window.mobile,
#window.expanded {
  max-width: none !important;
  width: 100vw;
  margin: 0;
  height: 100%;
  border-radius: 0;
}

#window.mobile .window-body {
  height: calc(100% - 3rem);
}

#window.expanded .window-body {
  height: calc(100% - 2rem);
}

.fa-stack-halfx {
  font-size: 0.5em;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: inherit;
  opacity: 0;
  transition: 0.3s opacity linear;
}

#window.mobile .fa-stack-halfx {
  display: none;
}

#history {
  position: absolute;
  left: 0.6rem;
  height: 1.4rem;
  top: 0.3rem;
}

#history i {
  line-height: 1;
}

#window .open-external-btn.show,
#history .btn {
  padding: 0;
  width: 40px;
  background-color: transparent;
  border: 1px solid rgb(150, 150, 150);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
}

#window.mobile .open-external-btn {
  right: 3rem;
  left: auto;
}

.open-external-btn {
  display: none;
  position: absolute;
  left: 6rem;
  top: 0.3rem;
}

#window.mobile #history .btn,
#window.mobile .open-external-btn {
  height: 2.4rem;
  font-size: 1.5rem;
}

#history .btn:hover:not(:disabled) {
  background-color: rgb(150, 150, 150);
}

#history .btn:focus:not(:disabled) {
  box-shadow: none !important;
}

#history .btn:active:not(:disabled) {
  background-color: rgb(100, 100, 100);
}

#traffic-lights {
  position: absolute;
  right: 0.4rem;
  top: 0;
}

#window.mobile #traffic-lights {
  top: 0.5rem;
}

#traffic-lights:hover .fa-stack-halfx {
  opacity: 1;
}

.red-light {
  color: rgb(252, 70, 69);
}

.fa-stack:hover .red-light {
  color: rgb(211, 24, 24);
}

.yellow-light {
  color: #f1c40f;
}

.fa-stack:hover .yellow-light {
  color: #e9b035;
}

.green-light {
  color: #1abc9c;
}

.fa-stack:hover .green-light {
  color: #0e9176;
}

#window.mobile .yellow-light,
#window.mobile .green-light {
  display: none;
}

#window.mobile .red-light {
  font-size: 1.8rem;
}

/* common */

.stack-logo {
  width: 100px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 30%;
  max-width: 30%;
  box-sizing: border-box;
}

.tooltip {
  opacity: 1 !important;
}

.source-code {
  margin-top: 2rem;
  color: white !important;
  opacity: 0.8;
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.source-code img {
  filter: invert(1);
}

.source-code:hover {
  opacity: 1;
}

.source-code i {
  font-size: 3rem;
}

.source-code span {
  font-size: 1rem;
  line-height: 3rem;
  margin-left: 0.5rem;
}

.description {
  padding: 5vh 8%;
  width: 80vw;
  max-width: 80rem;
  color: var(--text-two);
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  box-sizing: border-box;
}

.description h3 {
  margin-top: 3vh;
}

.description.dark {
  color: var(--text-three);
}

@media screen and (max-width: 767px) {
  .description {
    width: 100%;
    max-width: 100%;
  }
}
